.settings-popover-menu-enter {
  display: block;
  opacity: 0;
}
.settings-popover-menu-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.settings-popover-menu-enter-done {
  display: block;
}
.settings-popover-menu-exit {
  display:block;
  opacity: 1;
}
.settings-popover-menu-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
